@use "sass:color";
@use "vars";

.field-error {
    margin-bottom: 12px;
    border: 1px solid vars.$red;
    box-shadow: 0 2px 4px -2px color.adjust(vars.$red, $lightness: -10%);
}

.error-message {
    margin: 0 24px 0;
    color: vars.$red;
    font-style: italic;
}

.errors {
    margin-bottom: 24px;
    padding: 16px;
    border: 1px solid vars.$red;
    background-color: color.adjust(vars.$red, $lightness: 60%);
    border-radius: 4px;
    color: vars.$red;

    li {
        margin-bottom: 6px;
    }
}
