@use "sass:color";
@use "vars";

.foot {
    text-align: center;

    .ad {
        background-color: color.adjust(vars.$mirage, $lightness: 10%);
        color: vars.$white;
    }

    .license {
        background-color: vars.$mirage;
        color: vars.$light_gray;
    }

    a {
        color: vars.$yellow;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    p {
        margin: 0;
        padding: 16px;
    }
}
