@use "sass:color";
@use "vars";

.field-label {
    margin-bottom: 4px;
    display: block;
    width: 100%;
    color: color.adjust(vars.$gray, $lightness: -60%);
}

.field-input, .field-textarea {
    box-sizing: border-box;
    margin-bottom: 24px;
    padding: 0.5rem 0.75rem;
    width: 100%;
    border: 1px solid vars.$gray;
    border-radius: 4px;
    font-size: 16px;
    font-family: vars.$body_font;
    box-shadow: 0 2px 4px -2px color.adjust(vars.$gray, $lightness: -10%);
}

.field-textarea {
    resize: vertical;
    padding: 0.75rem;
}

.field-input:focus, .field-textarea:focus {
    outline: 0;
    border: 1px solid color.adjust(vars.$green, $lightness: 15%);
    box-shadow: 0 3px 6px -3px vars.$green;
}

.btn {
    margin-top: 8px;
    padding: 0.75rem;
    font-size: 16px;
    font-family: vars.$body_font;
    border-radius: 6px;
    cursor: pointer;
}

.btn-primary {
    border: 1px solid vars.$green;
    color: vars.$white;
    background: vars.$green;

    &:hover {
        color: vars.$white;
        border: 1px solid color.adjust(vars.$green, $lightness: 10%);
        background: color.adjust(vars.$green, $lightness: 10%);
    }

    &:active {
        color: vars.$green;
        border: 1px solid color.adjust(vars.$green, $lightness: 35%);
        background: color.adjust(vars.$green, $lightness: 35%);
    }
}
